@media only screen and (max-width: 800px){


    header {
      position: fixed;
      top: 0px;
      width:100%;
      background-color: red;
    }
  }
  a:link {
    color: white;
    margin-right:2rem;
    text-decoration: none;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
  }
  #welcome-section{
    width:100%;
    float: center;
    height:100vh;
   
  }
  body{
    background-color: black;
  }

  #welcome-section h1{
    font-size: 6vw;
    color: red;
  
    position: absolute;
    top: 10vw;
    left: 4vw;
  }
  
  #welcome-section h2{
    font-size: 4vw;
    color: white;
    left: 4vw;
    position: absolute;
    top: 20vw;

  } 
  
  header {
    position: fixed;
    top:0px;
    width: 100%;
    display: flex;
    align-items:center;
    color: white;
    background-color:red;
    
  }
 body {
  display:block;
  color: black;
 }
  header a:hover{
    margin-right:2rem;
    color:white;
  }
  .project {
    position: absolute;
    height: 50;
    width: 100%;
    text-align: center;
    bottom: 40%;
    color: rgb(169, 0, 0);
    background-color: orange;
  }
